* {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree';
}

header {
    padding: 15px 108px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    /* align-items: center; */
}

.logo-1 {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
}

.logo-1>h1 {
    color: #012555;
    font-size: 21.714px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    /* 175% */
    letter-spacing: -0.869px;
}

.logo-2 {
    padding: 0 0 0 10px;
}

.logo-2 img {
    height: 50px;
    align-items: center;
}

.options {
    display: flex;
    align-items: center;
}

.options>ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.options>ul>li {
    padding: 10px;
    color: var(--Gray-2, #4F4F4F);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 24.8px */
    letter-spacing: 0.16px;
    padding: 10px;
}

.li-menu {
    display: flex;
    align-items: center;
}

.options>ul>button {
    padding: 15px 36px;
    border-radius: 8px;
    border: 2px solid var(--primaryskyblue, #2F80ED);

    color: var(--primaryskyblue, #2F80ED);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.banner {
    display: flex;
    width: 100%;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    background: var(--primaryskyblue, #2F80ED);
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
}

.banner>p {
    color: #FFF;
    font-family: ABeeZee;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    letter-spacing: 1px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.intro-details>h1,
.full-stack-developer {
    color: var(--BLACK, #2B2F34);
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    /* 65px */
    letter-spacing: -0.75px;
}

.full-stack-developer {
    color: var(--primaryskyblue, #2F80ED);
    display: inline-block;
}

.stats {
    display: inline-flex;
    align-items: flex-start;
    gap: 35px;
}